@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Righteous&display=swap'); @import url('https://fonts.googleapis.com/css2?family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Righteous&display=swap');

*{
    margin: 0%;
    padding: 0%;
}

:root{
    --cor1:#50D4F2;
    --cor2:#0D2840;
    --cor3:#202359;
    --cor4:#322073;
    --cor5:#42208C;
    --fonte-padrao:arial, helvetica, sans-serif;
    --fonte-destaque:"Righteous", sans-serif;
    --fonte-titulo:"Bona Nova SC", serif;
}

header{
    background-image: linear-gradient(to bottom, var(--cor2), var(--cor3), var(--cor4), var(--cor5) );
    min-height: 130px;
    text-align: center;
    padding-top: 40px;
}

header p{
    color: #ffffff;
    font-family:var(--fonte-padrao);
    font-size: 1em;
    max-width: 600px;
    padding-left: 10px;
    padding-right: 10px;
    margin: auto;
    padding-bottom: 20px;
    text-shadow:2px 2px 0px rgba(0, 0, 0, 0.479) ;
}

header > h1{
    color: white;
    font-weight: normal;
    font-family:var(--fonte-destaque) ;
    font-size: 2.5em;
    margin-bottom: 15px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.479);
    letter-spacing: 2px;
}

nav{
    background-color: var(--cor5);
    text-align: center;
    padding: 15px;
}

nav > a{
    font-weight: normal;
    border-radius: 5px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.671);
    margin-right: 15px;
    transition-duration: 0.5s;
    padding: 5px;
    font-family: var(--fonte-destaque);
    letter-spacing: 2px;
}

nav > a:hover{
    background-color:#50D4F2;
    color: #0D2840;
    letter-spacing: 3px;
    font-weight: bold;
}

main{
    background-color: white;
    max-width: 1200px;
    min-width: 300px;
    margin-bottom: 30px;
    margin: auto;
    padding: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.384);
}

main a{
    text-decoration: none;
    font-weight: bold;
    color:rgb(0, 0, 0);
    background-color: #42208c79;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.692);
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 3px;
    padding-bottom: 3px;
}

main a:hover{
    transition-duration: 0.5s;
    text-shadow: 1px 1px 2px black;
    color: #ffffff;
    background-color: #42208cc9;
    padding: 5px;
}

strong{
    color: #0d2840;
    font-weight: bold;
    transition-duration: 0.3s;
}

 strong:hover{
    color: #00c3ff;
    text-shadow: 1px 1px 0px rgb(0, 0, 0);
}

main img{
    width: 100%;
    border-radius: 10px;
}

main img.pequena{
    max-width: 350px;
    display: block;
    margin: auto;
}

main p{
    margin: 15px 0px;
    text-align: justify;
    text-indent: 25px;
    line-height: 2em;
    font-size: 1.05em;
    font-family: var(--fonte-padrao);
}

a.externos:after{
    content: '\1F517';
}

.primeiro-titulo-h1{
    font-family: var(--fonte-titulo);
    font-size: 2em;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.425);
    color: #42208C;
}

.segundo-titulo-h2{
    font-family: var(--fonte-destaque);
    color: #0D2840;
    font-size: 1.7em;
    background-image: linear-gradient(to right, var(--cor1), transparent);
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px 5px;
    text-shadow: 2px 2px 3px rgb(255, 255, 255);
    transition-duration: 0.5s;
}

.segundo-titulo-h2:hover{
    background-color: #40a8c0;
    letter-spacing: 5px;
    text-shadow: 1px 1px 1px black;
}

.terceiro-titulo-h2{
    font-family: var(--fonte-destaque);
    color: #0D2840;
    font-size: 1.7em;
    background-image: linear-gradient(to right, var(--cor1), transparent);
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px 5px;
    text-shadow: 2px 2px 3px rgb(255, 255, 255);
    transition-duration: 0.5s;
}

.terceiro-titulo-h2:hover{
    background-color: #40a8c0;
    letter-spacing: 5px;
    text-shadow: 1px 1px 1px black;
}

div.videos{
    position: relative;
    background-color: #50D4F2;
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom:58% ;
    transition-duration: 0.4s;
}

div.videos:hover{
    background-color: #50d4f28c;
    
}

div.videos > iframe{
    position: absolute;
    top:5% ;
    left:5% ;
    width:90% ;
    height: 90%;
}

.quarto-titulo-h3{
    font-family: var(--fonte-titulo);
}

aside{
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.274);
}

#paragrafo-aside{
    color: #000000;
    font-size: 1.05em;
    line-height: 30px;
    font-family: sans-serif;
}

aside > ul{
    list-style-position: inside;
    list-style-type: '\2714';
    columns: 3;
    margin-top: 40px;
}

aside > h3{
    background-color:#0e687c;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
    font-size: 1.8em;
}

abbr{
    text-decoration: none;
    font-size: 1em;
    font-weight:normal;
    text-shadow: 1px 1px 1px rgb(255, 255, 255);
    line-height: 30px;
    transition-duration: 0.5s;
}

abbr:hover{
    font-weight: bold;
    border-radius: 5px;
    background-color: #2a788a;
    padding: 5px;
    color: white;
    box-shadow: 1px 1px 2px black;
    margin-left: 5px;
    text-shadow: 1px 1px 2px black;
} 

#link-footer{
    color: rgb(255, 255, 255);
    text-decoration: none;
    transition-duration: 0.5s;
}

#link-footer:hover{
    transition-delay: 0.1s;
    font-weight: bold;
    letter-spacing: 2px;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 0px rgb(0, 0, 0);
    background-color: rgb(7, 0, 110);
    border: 2px solid rgb(0, 162, 255);
    padding: 5px;
    border-radius: 10px;
}

footer{
    background-color: #000000;
    color: white;
    text-align: center;
    margin-top: 20px;
}

#paragrafo-footer{
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1em;
    font-family: var(--fonte-destaque);
    font-weight: normal;
}

table{
    max-width: 1000px;
    min-width: 400px;
    border-collapse: collapse;
    margin: auto;
    margin-top: 50px;
    position: relative;
    box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.342);
}

caption{
    font-weight: bold;
    font-family: var(--fonte-titulo);
    color: #313131;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.788);
    margin-bottom: 20px;
    font-size: 2em;
    background-color: rgba(102, 102, 102, 0.336);
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid  rgb(102, 102, 102);
    box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.26); 
    margin-top: 20px;
}

thead{
    color: rgb(0, 0, 0);
    background-color: #F8F9FA;
    font-family: var(--fonte-titulo);
    font-weight: normal;
    font-size: 1.3em;
}

thead > tr > th{
    position: sticky;
    top: -2px;
    background-color: #F8F9FA;
} 

td, th{
    border: 1px solid rgba(68, 68, 68, 0.616);
    padding: 20x;
}

#modelo-titulo{
    text-align: left;
    padding: 10px;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
    font-size: 1em;
}

#tipo-tela{
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
    text-align: left;
    padding: 10px;
    font-size: 1em;
}

#lançamento-titulo{
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
    text-align: left;
    padding: 10px;
    font-size: 1em;
}

.texto-modelo{
    text-align: left;
    font-family: var(--fonte-padrao);
    font-weight: normal;
    padding: 5px;
    width: 250px;
    color: rgb(0, 132, 255);
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.404);
    font-size: 1.1em;
}

.texto-modelo:hover{
    text-decoration: underline;
    color: rgba(0, 132, 255, 0.479);
}

.texto-tela{
    color: rgb(0, 132, 255);
    text-align: center;
    width: 200px;
    font-weight: normal;
    font-size: 1.1em;
}

.texto-tela:hover{
    text-decoration: underline;
    color: rgba(0, 132, 255, 0.479);
}

.texto-lançamento{
    text-align: center;
    color: rgba(0, 0, 0, 0.753);
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.404);
    font-family: var(--fonte-padrao);
    font-weight: normal;
    padding: 5px;
    font-size: 1.1em;
}

tbody tr:nth-child(even){
    background-color:#ffffff;
}

tbody tr:nth-child(odd){
    background-color:#9292924d;
}

#fundo-tabela{
    background-color: #50d4f271;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 30px;
    border-radius: 5px;
    box-shadow: 10px 10px 10px  rgba(0, 0, 0, 0.274);
    overflow-x: auto;
}