@charset "UTF-8";

*{
    padding: 5px;
}

html{
    font-family: 'Courier New', Courier, monospace;
    line-height: 1.5;
}

header > h1{
    text-align: center;
}

header > p{
    text-align: center;
}

nav{
    display: none;
}

article > p > a{
    text-decoration: none;
    color: black;
    font-weight: bolder
}

aside{
    display: none;
}

.videos{
    display: none;
}

footer > #paragrafo-footer > a{
    text-decoration: none;
    color: black;
    font-weight: bolder;
}
